/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
ul {
    list-style: none;
}

/* HEADER */
header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
}

header .icon-container i {
    position: relative;
    font-size: 1.5rem;
    color: green;
}

header .icon-container .cart-counter {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(+50%, -50%);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: orange;
    font-size: .8rem;
    color: white;
}

header .cart-contents {
    display: none;
    position: absolute;
    top: 100%;
    right: 1%;
    box-shadow: 10px 10px 30px gray;
}

.cart-contents .cart-title {
    padding: .5rem;
}

.cart-contents ul {
    padding: 0 2rem 1rem;
}

.cart-contents ul li {
    padding: 1rem 0;
}

/* MAIN */
main {
    padding: 0 0 2rem;
}

main > .title {
    padding: 3rem;
    text-align: center;
}

main > ul {
    display: flex;
    justify-content: center;
    padding: 0 5rem;
}

ul .list-contents {
    padding: 2rem;
    text-align: center;
    cursor: pointer;
}

ul .list-contents:hover {
    box-shadow: 10px 10px 30px gray;
}

ul .list-contents div {
    padding: .3rem 0;
}

